*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #081b29;
    color:#ededed

}
.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10px;
    background:transparent;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;

}
.logo{
    font-size: 25px;
    color: #ededed;
    font-weight: 600;
}
.nav_bar a{
    font-size: 18px;
    color: #ededed;
    font-weight: 500;
    margin-left: 35px;
    transition:.3s;

}
.nav_bar a:hover,
.navbar a.active{
    color:rgb(252, 218, 26);
}
.Home
{
    height: 100vh;
   margin-top: 50%;
    align-items: center;
    padding: 0 10%;
}
.Home-content{
    max-width: 800px;
}
.Home-content h2{

    font-size: 56px;
    font-weight: 700;
}
.Home-content h3{
    font-size: 32px;
    font-weight: 700;
    color:yellow;
}
.Home-content p{
    font-size: 15px;

}
.Home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width:340px;
    height:25px;
    background:transparent



}
.btn-box a{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width:150px;
    height:100%;
    background:whitesmoke;
    margin-top: 10%;
    border-radius: 10%;
    font-size: 20px;
    color:black;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .4s;


    
}
.btn-box a:hover{
    color:red;

}

